# .env
TELEGRAM_BOT_TOKEN=7263849404:AAFcEDBgPTzzac4EA57PK-5yg7Zwf1FOmNA
TELEGRAM_CHAT_ID=-4780176160
TELEGRAM_CHAT_ID_WARNING=-4780176160
TELEGRAM_CHAT_ID_CRITICAL=-4780176160
DATA_REGIONS_PATH=data/regions.csv
GEOJSON_PATH=data/russia.geojson
STATIC_FOLDER=static
AUDIO_FILE_PATH=alert.mp3
LOG_LEVEL=INFO
SECRET_KEY=your-secret-key-here
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost # Для локального запуска вне Docker, для Docker будет 'db'
POSTGRES_PORT=5432
POSTGRES_DB=monitoring_db
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=strong_redis_pass
GRAFANA_ADMIN_PASSWORD=admin
MYSQL_ROOT_PASSWORD= idoit_root_pass
MYSQL_DATABASE= idoit
MYSQL_USER= idoit
MYSQL_PASSWORD = idoit_pass
IDOIT_DB_HOST = idoit-mysql
IDOIT_DB_NAME = idoit
IDOIT_DB_USER = idoit
IDOIT_DB_PASS = idoit_pass
IDOIT_ADMIN_PASS = your_admin_password_here
I_DOIT_API_KEY = changeme
I_DOIT_API_URL = http://idoit/src/jsonrpc.php
WEBHOOK_API_KEY=your_secret_key_here
# Database connection pool
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=40
ML_MAX_WORKERS=4
ADMIN_USERNAME = admin
ADMIN_PASSWORD = password