aiohttp
alembic
pandas
requests
pydantic
pydantic_settings
python-docx
pathspec
diskcache
python-dotenv
pytest
pytest-mock
xlsxwriter
tenacity
psycopg2-binary
sqlalchemy
redis
fakeredis
celery
prophet
scikit-learn
joblib
tensorflow
h5py
kafka-python
fastapi
uvicorn[standard]
jose
redis
jwt
prometheus_client
slowapi
psutil
fastapi-jwt-auth
pytest-cov
torch
passlib