aiohttp
alembic
pandas
requests
pydantic
pydantic_settings
python-docx
pathspec
diskcache
python-dotenv
pytest
pytest-mock
xlsxwriter
tenacity
psycopg2-binary
sqlalchemy
redis[hiredis]
fakeredis
celery
prophet
scikit-learn
joblib
tensorflow
h5py
kafka-python
fastapi
uvicorn[standard]
python-jose[cryptography]
prometheus_client
slowapi
psutil
fastapi-jwt-auth
pytest-cov
pytest-asyncio
httpx
torch
passlib
bcrypt
python-multipart
clickhouse-connect
ldap3
authlib
itsdangerous
locust
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests